@{
    ViewData["Title"] = "User Index";
}

@model UsersViewModel

<h1>User Index</h1>

<table class="table users">
    <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Date of Birth</th>
        <th>Role(s)</th>
        <th class="actions">Action</th>
    </tr>
    @foreach (KeyValuePair<ApplicationUser, List<string>> user in Model.UsersRoles)
    {
        ApplicationUser person = user.Key;
        List<string> roles = user.Value;
        <tr>
            <td>@person.UserName</td>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.DateOfBirth</td>
            <td>@string.Join(", ", roles)</td>
            <td class="actions">
                <a class="action edit" asp-controller="Roles" asp-action="UpdateUserRole" asp-route-id="@person.Id">Edit Role</a>
                <a class="action delete" asp-controller="Users" asp-action="DeleteUser" asp-route-id="@person.Id">Delete</a>
            </td>
        </tr>
    }
</table>
